<hr>
            <div class="copyright">
            CST336 Internet Programming. 2020&copy; Graham<br />
            <strong>Disclaimer:</strong>&nbsp; The information in this webpage is fictitious. It is used for academic purposes only.
            </div>
            <figure>
            <img src="/img/csumb_logo.jpg" alt="Logo of CSUMB" />
            </figure>
        </footer>
        <!-- closing footer -->
    </body>
    <!-- closing body -->
</html>