<%- include('partials/header.ejs') %>


<div class="card border-dark">
<div class="card-header border-info text-white text-left bg-primary">
<h5> 25 years later, here are some Then and Now photos! </h5>
</div>
<div class="card-body border-dark text-center">
        
        <main>
            
 <div>

<table>
<tr>
<td style="text-align:center">
<img src="/img/96720831_10163319697470062_5213859880938504192_n.jpg" class="img-fluid" alt="Nikon"><br />Nikon
</td>
<td style="text-align:center">
<img src="/img/95913766_10163319692085062_3408834771680231424_n.jpg" class="img-fluid" alt="Kate"><br />Kate
</td>
<td style="text-align:center">
<img src="/img/96816427_10163319693425062_9221235539733118976_n.jpg" class="img-fluid" alt="Dade"><br />Dade
</td>
<td style="text-align:center">
<img src="/img/96378819_10163319695120062_3638199374044987392_n.jpg" class="img-fluid" alt="Cereal"><br />Cereal
</td>
<td style="text-align:center">
<img src="/img/96844286_10163319698105062_115400823441195008_n.jpg" class="img-fluid" alt="Joey"><br />Joey
</td>
</tr>
</table>


<br /><br />



Source: <a href="https://www.facebook.com/HackersMovie/photos">https://www.facebook.com/HackersMovie/photos</a><br />
Source: <a href="https://en.wikipedia.org/wiki/Hackers_(film)">https://en.wikipedia.org/wiki/Hackers_(film)</a>                
       
             
       
                
            </div>
            
        </main>
        
        </div></div>
        
        <%- include('partials/footer.ejs') %>