<%- include('partials/header.ejs') %>
        
<div class="card border-dark">
<div class="card-header border-info text-white text-left bg-primary">
<h5> Hack the Planet! </h5>
</div>
<div class="card-body border-dark text-center">
    
            <img src="/img/Hackersposter.jpg" class="img-fluid" alt="Picture of Hacker Movie Poster" />
             </figure>
            
            <div style="text-align:left;" >
                
                Hackers is a 1995 American crime film directed by Iain Softley and starring Jonny Lee Miller, Angelina Jolie, Jesse Bradford, Matthew Lillard, Laurence Mason, Renoly Santiago, Lorraine Bracco, and Fisher Stevens. 
                
                <br />
                <br />
                The film follows a group of high school hackers and their involvement in a corporate extortion conspiracy. Made in the mid-1990s when the Internet was unfamiliar to the general public, it reflects the ideals laid out in the Hacker Manifesto quoted in the film.  The film received mixed reviews from critics, and underperformed at the box office upon release, but has gone on to achieve cult classic status. <%= fakerData %>
                
                 <br />
                <br />
                
                Source: <a href="https://en.wikipedia.org/wiki/Hackers_(film)">https://en.wikipedia.org/wiki/Hackers_(film)</a>
            </div>
        
        <%- include('partials/footer.ejs') %>
